/* .banner start */

.banner {
    width: 1240px;
    height: 450px;
    margin: 0 auto;
}

.banner a img {
    width: 100%;
    height: 450px;
}


/* .banner start */

.main {
    width: 1349px;
    height: auto;
    margin: 10px auto;
    /* background-color: red; */
}

.main .main_wrap {
    width: 1280px;
    height: auto;
    margin: 0 auto;
    /* background-color: blue; */
}

.main .main_wrap .main_top {
    width: 1240px;
    height: 110px;
    /* background-color: orange; */
    border-bottom: #e4e4e4 2px solid;
}

.main .main_wrap .main_top a {
    display: block;
    float: left;
    width: 110px;
    height: 36px;
    color: #666666;
    float: left;
    font-size: 22px;
    margin-top: 70px;
    border-bottom: #00c3f5;
}

.main .main_wrap .main_top a:last-child {
    margin-left: 75px;
}

.main .main_wrap .main_top .active {
    width: 80px;
    height: 40px;
    display: block;
    border-bottom: 2px solid #00c3f5;
    color: #00c3f5;
}

.main .main_wrap .main_top a:hover {
    height: 36px;
    color: #00c3f5;
    font-size: 22px;
    font-weight: bolder;
    border-bottom: 2px solid #00c3f5;
}


/* 当前城市样式开始 */

.main .main_wrap .main_content {
    width: 1240px;
    height: auto;
    margin: 0 auto;
}

.main .main_wrap .main_content .address {
    margin-top: 20px;
    width: 1240px;
    height: 60px;
}

.main .main_wrap .main_content .address select {
    margin-top: 10px;
    width: 140px;
    height: 40px;
    border: 2px solid #00c3f5;
}

.main .main_wrap .main_content .address select option {
    font-size: 15px;
    color: #333333;
}


/* 店名列表样式开始 */

.main .main_wrap .main_content .stort {
    width: 1238px;
    height: auto;
    /* margin: 10px auto; */
    background-color: prink;
    overflow: hidden;
    border-bottom: 1px solid #00c3f5;
}

.main .main_wrap .main_content .stort dl {
    width: 350px;
    height: 120px;
    /* background-color: orange; */
    float: left;
    margin: 80px 20px;
}


/* 店名列表样式结束 */

.main .main_wrap .main_content .stort dl dt h2 {
    font-size: 20px;
    color: #00c3f5;
    margin-bottom: 20px;
}

.main .main_wrap .main_content .stort dl dd {
    font-size: 15px;
    color: #333333;
    margin-top: 9px;
}


/* 加盟开始 */

.main .main_wrap .more-link {
    width: 1240px;
    height: 160px;
    margin-top: 40px;
}

.main .main_wrap .more-link .link-right {
    width: 525px;
    height: 40px;
    /* background-color: blue; */
    float: right;
}

.main .main_wrap .more-link span {
    padding-right: 27px;
    color: #333333;
    line-height: 40px;
    font-size: 17px;
}

.main .main_wrap .more-link a {
    display: block;
    width: 138px;
    height: 40px;
    float: right;
    margin-left: 13px;
    /* background-color: red; */
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    color: #00c3f5;
    border: 1px solid #00c3f5;
}


/* 加盟结束 */


/* 当前城市样式结束 */